# Pandas1

# 1) create a series for 40,2,4,670,7,90,1,20
# check all the properties for above series

In [1]:
import pandas as pd

In [2]:
a = pd.Series([40,2,4,670,7,90,1,20])
a

0     40
1      2
2      4
3    670
4      7
5     90
6      1
7     20
dtype: int64

In [3]:
a.min()

1

In [4]:
a.max()

670

In [5]:
a.mean()

104.25

In [6]:
a.median()

13.5

In [7]:
a.mode()

0      1
1      2
2      4
3      7
4     20
5     40
6     90
7    670
dtype: int64

# 2) Check mode on heterogeneous data

## a. Without repeating data

In [8]:
a = pd.Series([5,'k',9.])
a

0      5
1      k
2    9.0
dtype: object

In [9]:
a.mode()

c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages\pandas\core\algorithms.py:969: UserWarning: Unable to sort modes: '<' not supported between instances of 'str' and 'int'
  warn(f"Unable to sort modes: {err}")

0      5
1      k
2    9.0
dtype: object

## b. With repeating data

In [10]:
a = pd.Series([5, 5,'k',9.])
a

0      5
1      5
2      k
3    9.0
dtype: object

In [11]:
a.mode()

0    5
dtype: object